@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.m-0 {
  margin: 0 !important;
}

.share-links .share-links__button {
  cursor: pointer;
  color: #9CA3AF !important;
}

.prose-purple .index {
  @apply p-8 mb-8 text-sm rounded-lg bg-gray-50;
}

.prose-purple .index p {
  @apply mt-0;
}

.prose-purple .btn {
  @apply px-4 py-3 text-xs text-white no-underline uppercase bg-purple-500 rounded-lg transition-colors hover:bg-purple-800;
}

